body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #6699ea 0%, #a24b4b 100%);
    font-family: Arial, sans-serif;
}

.calculator {
    background-color: rgb(209, 203, 203);
    width: 300px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    overflow: hidden; /* when text overflows/ */
    padding: 0px; 
}

#display {
    width: 100%; /* Adjust width to account for padding */
    height: 80px;
    text-align: left;
    padding: 20px;
    font-size: 2.5rem;
    background-color: #f4f4f4;
    border: 1px solid #e0e0e0; /* Light, thin border */
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 10px;
    padding: 20px;
}

button {
    padding: 15px;
    font-size: 1.2rem;
    border: none;
    background-color: #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d5d5d5;
}

.operator {
    background-color: #ff9800;
    color: white;
}

.operator:hover {
    background-color: #f57c00;
}

#equals {
    grid-column: span 2;
    background-color: #4CAF50;
    color: white;
}

#equals:hover {
    background-color: #45a049;
}